@media print {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  button,
  select,
  input,
  a {
    display: none !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid #000;
  }

  h2,
  h3,
  h4 {
    margin: 4px 0;
  }

  hr {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0;
  }

  img {
    max-height: 80px;
  }
  header {
    display: none;
  }
}
